%h1 New review

%h2 Review Criteria

%p The following categories are our required, recommended, and optional-but-awesome guidelines for Core Curriculum. Please note any relevant details about each category.

%h3 Requirements

%ul
  %li Class content must be appropriate to the stated timeframe; not too much, not too little. Don’t introduce too much, too soon.
  %li Curriculum must be appropriate for the skill level of the students (e.g., beginners for intro classes)
  %li Curriculum should be technically accurate and have few or no errors
  %li Curriculum must be respectful. No content should be demeaning, insulting, or in any way violate our code of conduct. Watch for patronizing tone or examples that ask for personal details like age or weight.

%h3Recommended

%ul
  %li Curriculum should be interesting and engaging.
  %li Curriculum should include in-class exercises whenever possible. We recommend no more than twenty minutes without an exercise.
  %li Class exercises should have solutions, either on the slides or as a linked page/download.
  %li It is helpful for a class to have a blurb and a list of pre-reqs and require materials (for posting to Meetup)

%h3 Above and beyond

%ul
  %li Instructor guides/materials, handouts, follow-up emails, and similar additional materials help the class be reusable.
  %li “Homework” problems or additional bonus exercises can help balance different skill levels

= render 'form'

= link_to 'Back', reviews_path
