%h1 New review

%h2 Review Criteria

%p The following categories are our required, recommended, and optional-but-awesome guidelines for Core Curriculum. Please note any relevant details about each category.

= render 'form'

= link_to 'Back', material_reviews_path(@material)
