%h1
  Review for
  = @review.material.title

%br

= render partial: 'shared/comment', locals: { review: @review }

- if owns_review?(@review)
  = link_to 'Edit', edit_material_review_path(@material, @review)

